/* KJH */

.nivo-caption {
	display: none !important;
}

.free-shipping ul {
	font-family: Arial !important;
	list-style: inherit !important;
	line-height: inherit !important;
	margin-left: 2em !important;
}

.ves-hometab .hometab-nav li.tabs-0 a,
.tabs li.first {
	background: #BFAE80 !important;
}
.ves-hometab .hometab-nav li.tabs-1 a,
.tabs li.tabs_1 {
	background: #F8BE6A !important;
}
.ves-hometab .hometab-nav li.tabs-2 a,
.tabs li.tabs_2 {
	background: #5BBE90 !important;
}

.block-layered-nav .block-title, .block-progress .block-title {
	background: url(../../default/ves_gift/images/default/bg-block-list-default.png) top left repeat-x !important;
}

.addthis_horizontal_follow_toolbox {
	padding: 10px !important;
	background: white !important;
	margin-bottom: 15px !important;
}
.addthis_horizontal_follow_toolbox .addthis_toolbox.addthis_default_style.addthis_32x32_style {
	width: 144px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.productscroll-action {display:none!important; }