<?xml version="1.0"?>  
<config>  
	<modules>  
		<Venustheme_Sideproduct>  
			<version>1.1.0</version>  
		</Venustheme_Sideproduct>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<Venustheme_Sideproduct>
					<files>
						<default>Venustheme_Sideproduct.csv</default>
					</files>
				</Venustheme_Sideproduct>
			</modules>
		</translate>
		<layout>
			<updates>
				<sideproduct>
					<file>sideproduct.xml</file>
				</sideproduct>
			</updates>
		</layout>
		<events>
		<controller_action_layout_generate_blocks_after>
			<observers>
				<venustheme_sideproduct_observer>
					<type>singleton</type>
					<class>Venustheme_Sideproduct_Model_Observer</class>
					<method>beforeRender</method>
				</venustheme_sideproduct_observer>
			</observers>
		</controller_action_layout_generate_blocks_after>
	</events>
	</frontend>	
	<global>  		     
		<blocks>
            <venustheme_sideproduct>
                <class>Venustheme_Sideproduct_Block</class>
            </venustheme_sideproduct>
        </blocks>
        <models>
            <venustheme_sideproduct>
                <class>Venustheme_Sideproduct_Model</class>
                <resourceModel>venustheme_sideproduct_mysql4</resourceModel>
            </venustheme_sideproduct>
            <venustheme_sideproduct_mysql4>
                <class>Venustheme_Sideproduct_Model_Mysql4</class>
                <entities>
                    <banner>
                        <table>venustheme_sideproduct_banner</table>
                    </banner>
                </entities>
            </venustheme_sideproduct_mysql4>
        </models>
        <helpers>
            <venustheme_sideproduct>
                <class>Venustheme_Sideproduct_Helper</class>
            </venustheme_sideproduct>
        </helpers>
        <resources>
            <venustheme_sideproduct_setup>
                <setup>
                    <module>Venustheme_Sideproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </venustheme_sideproduct_setup>
            <venustheme_sideproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </venustheme_sideproduct_write>
            <venustheme_sideproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </venustheme_sideproduct_read>
        </resources>
	
	</global>  
	<admin>
        <routers>
            <sideproduct>
                <use>admin</use>
                <args>
                    <module>Venustheme_Sideproduct</module>
                    <frontName>sideproduct</frontName>
                </args>
            </sideproduct>
        </routers>
    </admin>
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
						<venustheme_sideproduct>
                            <title>File</title>
                            <sort_order>50</sort_order>
                            <children>
                                <index>
                                    <title>Manage Files</title>
                                    <sort_order>0</sort_order>
                                </index>
                                <new>
                                    <title>Add File</title>
                                    <sort_order>1</sort_order>
                                </new>
                            </children>
                        </venustheme_sideproduct>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <venustheme_sideproduct>
                                            <title>Ves Sideproduct</title>
                                        </venustheme_sideproduct>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<menu>
            <vesextensions module="venustheme_sideproduct">
                <title>VenusTheme</title>
                <sort_order>53</sort_order>
                <children>
					<sideproduct translate="title" module="venustheme_sideproduct">
						<title>Ves Sideproduct</title>
						<children>
							
							<configuration translate="title" module="venustheme_sideproduct">
								<title>Configuration</title>
								<sort_order>4</sort_order>
								<action>adminhtml/system_config/edit/section/venustheme_sideproduct</action>
							</configuration>
						</children>
					</sideproduct>
                </children>
            </vesextensions>
        </menu>
        <translate>
			<modules>
				<Venustheme_Sideproduct>
					<files>
						<default>Venustheme_Sideproduct.csv</default>
					</files>
				</Venustheme_Sideproduct>
			</modules>
		</translate>
    </adminhtml>	
		
	<default>
        <venustheme_sideproduct>
            <venustheme_sideproduct>
                <show>1</show>    
                <title>Ves Sideproduct</title>  
				<theme>default</theme>
				<play>1000</play>
				<speed>800</speed>
                <moduleHeight>auto</moduleHeight>
                <moduleWidth>420</moduleWidth>
				<thumbWidth>200</thumbWidth>                
                <thumbHeight>200</thumbHeight>   
				<source>catalog</source> 
				<thumbnailMode>1</thumbnailMode>  
				<blockPosition>content</blockPosition>
				<blockDisplay>before</blockDisplay>
				<menuAssignment>Mage_Cms_index</menuAssignment>
				<source>file</source>
			</venustheme_sideproduct>
			<navigator>
				<navigatorWidth>250</navigatorWidth>
				<navigatorHeight>140</navigatorHeight>
				<itemvisiable>3</itemvisiable>
				<isvertical>0</isvertical>
			</navigator>
			
			<catalog_source_setting>
				<limit_item>6</limit_item>
				<catsid></catsid>
				<sourceProductsMode>latest</sourceProductsMode>
			</catalog_source_setting>
			<effect_setting>
				<titleMaxchar>15</titleMaxchar>
				<descMaxchar>200</descMaxchar>
				<slide_width>auto</slide_width>
				<slide_height>300</slide_height>
				<duration>500</duration>
				<scroll_items>1</scroll_items>
				<limit_cols>4</limit_cols>
				<show_button>1</show_button>
				<show_pager>1</show_pager>
				<show_title>1</show_title>
				<show_date>0</show_date>
				<show_desc>1</show_desc>
				<show_price>1</show_price>
				<show_pricewithout>1</show_pricewithout>
				<show_addcart>1</show_addcart>
			</effect_setting>

        </venustheme_sideproduct>
    </default>
</config>  