.breadcrumbs li:last-child
{ 
	color:#6B655C !important;	
}
.sidebar #ves-dropdown > li > a:hover,
.sidebar #ves-accordion > li > a:hover{
	background-position:10px -25px;
}
.sidebar #ves-dropdown li a,
.sidebar #ves-accordion > li > a{
	background:url(../images/default/icon-li_cate.png) 10px 11px no-repeat;
}
/* Slider */
/****************************************************************************************************************/

#vestheme{background:url(../images/blue/background.jpg) repeat;}
#ves-wrapper{background:url(../images/default/bg-light.png) right top no-repeat;}
/*=head=*/
#ves-top-links{background:url(../images/green/bg-top-links.png) repeat-x}
#ves-topcart{
	background:url(../images/blue/cart.png) left center no-repeat;
}
#ves-topmenu{
	background:url(../images/blue/bg-nav.png) top left repeat;
	border:1px solid;
	border-color:#629dc5 #629dc5 #5f93b6;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
}
.vesmegamenu-top ul#vesmegamenu > li:hover{background:url(../images/blue/bg-nav-active.png) top left repeat;border:1px solid #5692bc;border-width:0 1px;}
#nav > li.level-top:hover,
#nav > li.active
{
	background:url(../images/default/bg-nav-active.png) left bottom repeat-x;
}
#nav li.active{
	border-color:#da6574;
}
#ves-topcart .ves-topcart-title
{color:#6e6662}
#nav .level-top > span,
.vesmegamenu-top  ul#vesmegamenu > li >a,
#vesresponmenu h2{text-shadow: 0 1px 0 #649ec6;}
.productscroll-action .left{background:#77b2da;}
.productscroll-action .right{background:url(../images/default/bg-cart.png) repeat}
#ves-header #search_mini_form{background:url(../images/blue/bg-search.png) center no-repeat;}
.vesmegamenu-top  div.menunongroup{border: 1px solid #5692bc;}
.lof-coinslider-basic .nivo-controlNav a {cursor:pointer;	background:url(../images/blue/bullets.png) no-repeat 0 0;}
.productscroll-nav .next, .productscroll-nav .prev {background: url("../images/green/carousel-nav.png") no-repeat 0 bottom transparent;}
.free-shipping h1,.free-shipping h4{color:#77b2da;}
.block-subscribe .actions button.button span {
    background: none repeat scroll 0 0 #77b2da;
    border-color: #77b2da;
}
.page-title h1,
.page-title h2 {
   color:#77b2da;
}
.product-essential h2 { color:#5599c7 !important;}
.price ,.price-notice .price{color:#5599c7;}