<?xml version="1.0"?>  
<config>  
	<modules>  
		<Venustheme_Blog>  
			<version>1.1.0</version>  
		</Venustheme_Blog>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<Venustheme_Blog>
					<files>
						<default>Venustheme_Blog.csv</default>
					</files>
				</Venustheme_Blog>
			</modules>
		</translate>
		 <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Venustheme_Blog</module>
                    <frontName>venusblog</frontName>
                </args>
            </blog>
        </routers>
		<layout>
			<updates>
				<blog module="venustheme_blog">
					<file>venustheme_blog.xml</file>
				</blog>
			</updates>
		</layout>
		
		<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<venustheme_blog_observer>
						<type>singleton</type>
						<class>Venustheme_Blog_Model_Observer</class>
						<method>beforeRender</method>
					</venustheme_blog_observer>
				</observers>
			</controller_action_layout_generate_blocks_after>
	 

        </events>
		
	</frontend>	
	<global>  	
		
		<events>

	 
			<controller_front_init_routers>
				<observers>
					<blog>
						<type>singleton</type>
						<class>Venustheme_Blog_Model_Observer</class>
						<method>initControllerRouters</method>
					</blog>
				</observers>
			</controller_front_init_routers>
        </events>
		
		<blocks>
            <venustheme_blog>
                <class>Venustheme_Blog_Block</class>
            </venustheme_blog>
        </blocks>
        <models>
            <venustheme_blog>
                <class>Venustheme_Blog_Model</class>
                <resourceModel>venustheme_blog_mysql4</resourceModel>
            </venustheme_blog>
            <venustheme_blog_mysql4>
                <class>Venustheme_Blog_Model_Mysql4</class>
                <entities>
                    <post>
                        <table>venustheme_blog_post</table>
                    </post>
					<category>
                        <table>venustheme_blog_category</table>
                    </category>
					<comment>
                        <table>venustheme_blog_comment</table>
                    </comment>
                </entities>
            </venustheme_blog_mysql4>
        </models>
        <helpers>
            <venustheme_blog>
                <class>Venustheme_Blog_Helper</class>
            </venustheme_blog>
        </helpers>
        <resources>
            <venustheme_blog_setup>
                <setup>
                    <module>Venustheme_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </venustheme_blog_setup>
            <venustheme_blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </venustheme_blog_write>
            <venustheme_blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </venustheme_blog_read>
        </resources>
		
	</global>  
	<admin>
        <routers>
            <blog>
                <use>admin</use>
                <args>
                    <module>Venustheme_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
    </admin>
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
						<venustheme_blog>
                            <title>File</title>
                            <sort_order>50</sort_order>
                            <children>
                                <index>
                                    <title>Manage Blogs</title>
                                    <sort_order>0</sort_order>
                                </index>
                                <new>
                                    <title>Add Blog</title>
                                    <sort_order>1</sort_order>
                                </new>
                            </children>
                        </venustheme_blog>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <venustheme_blog>
                                            <title>Ves Blog</title>
                                        </venustheme_blog>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<menu>
            <vesextensions module="venustheme_blog">
                <title>VenusTheme</title>
                <sort_order>50</sort_order>
                <children>
					<blog translate="title" module="venustheme_blog">
						<title>Ves Blog</title>
						<children>
							<add module="venustheme_blog">
								<title>Add post</title>
								<sort_order>0</sort_order>
								<action>blog/adminhtml_post/add</action>
							</add>
							
							
							<categories module="venustheme_blog">
								<title>Manage Categories</title>
								<sort_order>1</sort_order>
								<action>blog/adminhtml_category/index</action>
							</categories>
							
							<posts module="venustheme_blog">
								<title>Manage Posts</title>
								<sort_order>2</sort_order>
								<action>blog/adminhtml_post/index</action>
							</posts>
					 
							<comments module="venustheme_blog">
								<title>Manage Comments</title>
								<sort_order>4</sort_order>
								<action>blog/adminhtml_comment/index</action>
							</comments>
							<configuration translate="title" module="venustheme_blog">
								<title>Configuration</title>
								<sort_order>5</sort_order>
								<action>adminhtml/system_config/edit/section/venustheme_blog</action>
							</configuration>
						</children>
					</blog>
                </children>
            </vesextensions>
        </menu>
        <translate>
			<modules>
				<Venustheme_Blog>
					<files>
						<default>Venustheme_Blog.csv</default>
					</files>
				</Venustheme_Blog>
			</modules>
		</translate>
    </adminhtml>	
		
	<default>
        <venustheme_blog>
            <general_setting>
                <show>1</show>    
                <theme>default</theme>
				<title>Ves Blog</title>  
				<theme>default</theme>
                <route>ves-blog</route>
				<extension>html</extension>
				
				<large_imagesize>738x369</large_imagesize>
				<medium_imagesize>360x180</medium_imagesize>
				<small_imagesize>180x100</small_imagesize>
				
				<enable_recaptcha>1</enable_recaptcha>
				<privatekey>6Lf92dcSAAAAAOuVGEQA0IpBT6LgCI_snoq7u2Xd </privatekey>
				<publickey>6Lf92dcSAAAAAM4ICd_P64gF6OI2xVBpfyAoIEUS </publickey>
				<comment_limit>6</comment_limit>
				<comment_publish>2</comment_publish>
				<metakeywords></metakeywords>
				<metadescription></metadescription>
				<commentdisqus>demovenuthemeblog</commentdisqus>
				<commentfacebook>leotheme</commentfacebook>
				<commenttype></commenttype>
				<commentfacebookwidth>720</commentfacebookwidth>
			</general_setting>
			<list_setting>
				<list_leadingimage>l</list_leadingimage>
				<list_leadinglimit>1</list_leadinglimit>
				<list_leadingcols>1</list_leadingcols>
				<list_secondimage>m</list_secondimage>
				<list_secondlimit>6</list_secondlimit>
				<list_secondcols>3</list_secondcols>
				<list_showtitle>1</list_showtitle>
				<list_showdescription>1</list_showdescription>
				<list_category_title>1</list_category_title>
				<show_author>1</show_author>
				<show_commentcouter>1</show_commentcouter>
				<list_showreadmore>1</list_showreadmore>
				<list_showcreated>1</list_showcreated>
				<list_showtags>1</list_showtags>
			</list_setting>
			<post_setting>
				<post_imagetype>l</post_imagetype>
				<post_showtitle>1</post_showtitle>
				<post_showhits>1</post_showhits>
				<post_showdescription>1</post_showdescription>
				<post_show_category_title>1</post_show_category_title>
				<post_show_author>1</post_show_author>
				<post_show_commentcouter>1</post_show_commentcouter>
				<post_showreadmore>1</post_showreadmore>
				<post_showcreated>1</post_showcreated>
				<post_showupdated>1</post_showupdated>
				<post_showtags>1</post_showtags>
				<post_showsocial>1</post_showsocial>
				<post_showcommentblock>1</post_showcommentblock>
				<post_showmorepost>1</post_showmorepost>
				<post_showmorepostlimit>6</post_showmorepostlimit>
				<post_showrelatedpost>1</post_showrelatedpost>
				<post_showrelatedpostlimit>6</post_showrelatedpostlimit>
				
			</post_setting>
			<category_setting>
				<catimagesize>210x119</catimagesize>
				<show_childrent>1</show_childrent>
				<enable_rss>1</enable_rss>
				<chidlrentcols>3</chidlrentcols>
				<chidlrentheight>288</chidlrentheight>
			</category_setting>
			<module_setting>
				
				<enable_latestmodule>1</enable_latestmodule>
				<cmenu_parent>0</cmenu_parent>
				<limit_items>6</limit_items>
				<latest_position>right</latest_position>
				<latest_title>Venus Blog Latest Module</latest_title>
				<latestmod_desc></latestmod_desc>
				
				<latest_display>after</latest_display>
				<latest_menuassignment>all</latest_menuassignment>
				<latest_typesource>latest</latest_typesource>
				<enable_cmenumodule>1</enable_cmenumodule>
				<cmenu_menuassignment>all</cmenu_menuassignment>
				<cmenu_title>Blog Categories</cmenu_title>
				<cmenu_position>right</cmenu_position>
				<cmenu_customposition></cmenu_customposition>
				<cmenu_display></cmenu_display>
			</module_setting>
        </venustheme_blog>
    </default>
</config>  